<!--<img src="assets/icon/info-icon.svg" class="icon-alerte">-->

<div class="left-div">
  <div *ngIf="niveau== 1">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="#F44336">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
    </svg>
  </div>
  <div *ngIf="niveau== 2">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="#FF9800">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path>
    </svg>
  </div>
  <div *ngIf="niveau== 3">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="#2196F3">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path>
    </svg>
  </div>
  <div *ngIf="niveau== 4">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 24 24" fill="#4CAF50">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path
        d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
    </svg>

  </div>
</div>
<div class="right-div" [ngStyle]="{'color': color}">
  <h3 [ngClass]="{'firefoxTitleSize': Navigateur === 'Mozilla'}">{{ titre }}</h3>
  <p>{{ description }}</p>
</div>
