
<div class="compte">

  <div class="indic">

    <p>SMS</p>
    <p>Mail</p>
    <p>Application</p>

  </div>

  <mat-card class="card1">
      <H3>Activer l'alerte pour la fin de raclages</H3>
      <p>Cette option vous notifiera de la fin d'un raclage d'une salle.</p>
      <mat-slide-toggle color="primary"></mat-slide-toggle>
      <mat-slide-toggle color="primary"></mat-slide-toggle>
      <mat-slide-toggle color="primary"></mat-slide-toggle>
  </mat-card>

  <mat-card class="card2">
    <H3>Activer l'alerte pour un problème décelé sur un robot</H3>
    <p>Cette option vous notifiera d'un problème décelé sur un robot.</p>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </mat-card>

  <mat-card class="card3">
    <H3>Activer l'alerte sur le non raclage d'une salle</H3>
    <p>Cette option vous notifiera qu'une salle n'a pas été raclée depuis une période de x jours.</p>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </mat-card>

</div>