
<mat-card [ngClass]="{'editmodecard': Histomode === true, 'firefoxSize': Navigateur === 'Mozilla'}">

  <div>
    <div style="display: block">
      <canvas baseChart
              [colors]="barColors"
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button (click)="randomize()">Update</button>
  </div>

</mat-card>