mat-card
{
    width: 1035px;
    height: 530px;
}

.editmodecard
{
    width: 65vw;
    height: auto;
}

@media screen and (max-width: 1100px)
{
    mat-card
    {
        width: 700px;
        height: 360px;
    }
}

