<div class="mentions">

  <mat-card class="card1">
      <H3>1. INFORMATIONS SUR LA SOCIETE</H3>
      <p>Ce site est édité par la société SOCOBATI : Société par Actions Simplifiée Unipersonnelle</p>
      <p>Capital de 3 972 400 euros</p>
      <p>SIREN : 341 796 027 RCS SAINT BRIEUC</p>
      <p>Siège social : Zone Industrielle, rue de la Jeannaie, 22400 LAMBALLE</p>

  </mat-card>

  <mat-card class="card2">
    <H3>2. CREDITS</H3>
    <p>La société SOCOBATI est l'éditeur du site Internet passporc.cooperl.net.
      Directeurs de la publication : M. Pierre Le Guilloux, Directeur.</p>

  </mat-card>

  <mat-card class="card3">
    <H3>3. CONDITIONS D'UTILISATION</H3>
    <p>Toute personne qui accède au site internet passporc.cooperl.net s'engage à respecter les présentes conditions d'utilisation.
      Toute personne consultant le site est responsable des données qu'elle diffuse, utilise et/ou transfère et s'engage à ce titre à respecter la réglementation française en vigueur, notamment celle relative aux contenus manifestement illicites (atteintes aux bonnes mœurs, incitation à la haine raciale, pédophilie…) ou à la protection des droits des tiers (droits de propriété intellectuelle…). La société Socobati n'est pas responsable de l'usage des données, du contenu diffusé par une autre personne et qui, notamment, ne respecterait pas la réglementation en vigueur.
      La mise en place d'un lien hypertexte vers le site nécessite une autorisation préalable et écrite de la société Socobati qui ne peut en aucun cas être tenue pour responsable des sites ayant un lien hypertexte avec le site et décline toute responsabilité quant à leur contenu et à leur utilisation.
      Le site est soumis à la loi française, les tribunaux français étant seuls compétents en cas de litige.</p>

  </mat-card>

  <mat-card class="card4">
    <H3>4. PROPRIETE - COPYRIGHT</H3>
    <p>La présentation et le contenu du site internet passporc.cooperl.net constituent, ensemble, une oeuvre protégée par les lois en vigueur des droits d’auteur, de la propriété intellectuelle et industrielle. Les marques, dénominations ou appellations, les logos, les noms de domaine sont, sauf indications particulières, des marques déposées. Les créations apparaissant éventuellement sur le site, dessins, photographies, images, textes, séquences animées sonores ou non et autres documentations représentées, sont objets de droits d’auteur, de propriété industrielle et/ou intellectuelle et sont, selon les cas, propriété de la société Socobati ou de tiers ayant autorisé la société Socobati à les utiliser.
      Aucune exploitation commerciale, reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielle ou intégrale de ces éléments (y compris ceux téléchargeables ou copiables) ne pourra en être faite sans l'accord préalable et écrit de la société Socobati, à l'exception de l'utilisation pour un usage privé sous réserve des dispositions différentes voire plus restrictives du Code de la propriété intellectuelle.</p>
   
  </mat-card>

  <mat-card class="card5">
    <H3>5. DONNÉES PERSONNELLES</H3>
    <p>Les informations recueillies sur le site sont destinées à l’usage exclusif de Socobati.
      Conformément à la loi « informatique et liberté » n° 78-17 du 6 janvier 1978, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (article 34). Vous pouvez exercer ce droit en adressant un courrier au service Service Clientèle de SOCOBATI :
      Société SOCOBATI- Service Clientèle 5 rue d'Armor BP 60328 - 22403 Lamballe cedex</p>
    
  </mat-card>

  <mat-card class="card6" [ngClass]="{'firefoxMargeDown': Navigateur === 'Mozilla'}">
    <H3>6. CONCEPTION</H3>
    <p>Ce site a été conçu par la société SOCOBATI.</p>
    
  </mat-card>

</div>