
 mat-card
{
    width: 1000px;
    height: 250px;
    overflow-y: scroll;
}		

li
{
    display: inline;
}

i:hover
{
    color: crimson;
    cursor: pointer;
}

ul i
{
    position: relative;
    left: 90px;
    top: 5px;
}

@media screen and (max-width: 1100px)
{
    mat-card
    {
        width: 80vw;
        height: 250px;
    }
}





  