/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~materialize-css/dist/css/materialize.min.css'; */
/*@import "~@progress/kendo-theme-default/scss/all";*/

body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EDECEC;
}

html
{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mat-menu-panel.menu-alert
{
    position: relative;
    width: 250px;
    height: 370px;
    top: 20px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
